<html lang='pt-BR'>
    {% include "global/partials/_head.html" %}
<head>

</head>

<body>
    
    {% include "global/partials/_header.html" %}
    {% include "global/partials/_messages.html" %}



    <main class='content'>
    {% block content %}    
        <h1 class="single-contact">
            {{contact.first_name}}
        </h1>

        <p>
            <strong>
                ID: 
            </strong>
            {{contact.id}}
        </p>
        <p>
            <strong>
                Email: 
            </strong>
            {{contact.email}}
        </p>
        <p>
            <strong>
                Phone: 
            </strong>
            {{contact.phone}}
        </p>
        <p>
            <strong>
                created_data: 
            </strong>
            {{contact.created_data}}
        </p>
        <p>
            <strong>
                description: 
            </strong>
            {{contact.description}}
        </p>
        <p>
            <strong>
                category: 
            </strong>
            {{contact.category}}
        </p>



       
    {% endblock content %}



    {% include "global/partials/_pagination.html" %}  
</main>   
</body>
</html>