{% extends "global/base.html" %} {% block content %}
<div class="single-contact">
  <h1 class="single-contact-name">{{contact.first_name}} {{contact.last_name}}</h1>

  <p>
    <strong> ID: </strong>
    {{contact.id}}
  </p>
  <p>
    <strong> Email: </strong>
    {{contact.email}}
  </p>
  <p>
    <strong> Phone: </strong>
    {{contact.phone}}
  </p>
  <p>
    <strong> created_date: </strong>
    {{contact.created_date}}
  </p>
  <p>
    <strong> description: </strong>
    {{contact.description}}
  </p>
  <p>
    <strong> Category: </strong>
    {{contact.Categoria.name}}
  </p>
</div>

{% endblock content %}
