{% extends "global/base.html" %} 
{% block content %}
{% if contact %}
<div class="resposive-table">
  <table class="contacts-table">
    <caption class="table-caption">
      Contacts
    </caption>
    <thead>
      <tr>
        <td class="table-row table-row-header">ID</td>
        <td class="table-row table-row-header">First Name</td>
        <td class="table-row table-row-header">Last Name</td>
        <td class="table-row table-row-header">Phone</td>
        <td class="table-row table-row-header">E-mail</td>
      </tr>
    </thead>

    <tbody>
      {% for contact in contact %}
      <tr class="table-row">
        <td class="table-cell">
          <a class="table-link" href="{% url 'contact:contact' contact.id %}">
            {{contact.id}}
          </a>
        </td>
        <td class="table-cell">{{contact.first_name}}</td>
        <td class="table-cell">{{contact.last_name}}</td>
        <td class="table-cell">{{contact.phone}}</td>
        <td class="table-cell">{{contact.email}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% else %}
<div class="single-contact">
    <h1 class="single-contact-name">
      Nenhum contato encontrado.
    </h1>
</div>
{% endif %}
{% endblock content %}
